<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    
    <servlet-class>com.harman.ui.AddEmployeeServlet</servlet-class>
    <init-param>
      <param-name>driverClassName</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://sql6.freemysqlhosting.net:3306/sql6444958</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>sql6444958</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>DEJFyJCHIT</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description> </description>
    <display-name>GetEmployeeByIdServlet</display-name>
    <servlet-name>GetEmployeeByIdServlet</servlet-name>
    <servlet-class>com.harman.ui.GetEmployeeByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeByIdServlet</servlet-name>
    <url-pattern>/getEmployeeById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllEmployeesServlet</display-name>
    <servlet-name>GetAllEmployeesServlet</servlet-name>
    <servlet-class>com.harman.ui.GetAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmployeesServlet</servlet-name>
    <url-pattern>/getAllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
      <description></description>
    <display-name>DeleteEmployeeByIdServlet</display-name>
    <servlet-name>DeleteEmployeeByIdServlet</servlet-name>
    <servlet-class>com.harman.ui.DeleteEmployeeByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeByIdServlet</servlet-name>
    <url-pattern>/DeleteEmployeeByID</url-pattern>
  </servlet-mapping>
  <servlet>
      <description></description>
    <display-name>UpdateEmployeeByIdServlet</display-name>
    <servlet-name>UpdateEmployeeByIdServlet</servlet-name>
    <servlet-class>com.harman.ui.UpdateEmployeeByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeByIdServlet</servlet-name>
    <url-pattern>/updateEmployeeByID</url-pattern>
  </servlet-mapping>
  
</web-app>